<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng kí tài khoản</title>
</head>
<body>
    <h1>Đăng kí tài khoản</h1>
    <form method="POST">
        <label for ="">Tên đầy đủ</label> <br>
        <input type="text" name = 'tendaydu'> <br>

        <label for ="">Email</label><br>
        <input type="email" name = 'email'> <br>

        <label for ="">Tên đăng nhập </label><br>
        <input type="text" name = 'tendangnhap'> <br>

        <label for ="">Mật khẩu </label><br>
        <input type="password" name = 'matkhau' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Xin mới nhập ít nhất 1 số, 1 chữ viết hoa, 1 kí tự đặc biệt và độ dài mật khẩu lớn hơn 8" required> <br>

        <button>submit</button>

       

    </form>

</body>
</html>