<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index.css">
    <title>New post</title>
</head>
<body>
    <div id = 'cover2'>
    <h1 class =  'pt-16p pl-8p text-red m-c '>New post</h1>
    <form method="POST">
        <label class = 'bg-yellow' for="">Title</label> <br>
        <input type="text" name = 'title'><br><br>
        <label class = 'bg-yellow' for="">Author</label><br>
        <input type="text" name='author'><br><br>
        <label class = 'bg-yellow' for="">Content</label><br>
        <textarea name="content" id="" cols="30" rows="10"></textarea><br><br>
        <button class = 'text-red'>Submit</button>
        <button>
            <a class = 'text-red' href="/new-post">Reset</a>
        </button>
    </form>
    </div>
</body>
</html>