<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index.css">
    <title>Post detail</title>
</head>
<body>
    
    
    <h1 class = 'pt-16p text-yellow m-c'>Post detail</h1>
    <h3 class = 'text-yellow'>{{ post.title }}</h3>
    <img id = 'anh_title' src="https://i.pinimg.com/564x/df/14/2b/df142b7d463731665515219ff22a83b0.jpg" alt="">
    
    <p>
    <i class = 'text-red'>by {{ post.author }}</i>
    </p>
    <img id = 'anh_author' src="http://125.235.16.206//archive/images/20180619/165816_the_nun_movie_2018_photo_synopsis_conjuring_spinoff.jpg" alt="">
    <p class = 'text-yellow'>{{ post.content }}</p>

    </div>
    
    <button>
        <a class = 'text-red' href="/update/{{ post.id }}" >Update </a>
    </button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button>
        <a class = 'text-red' href="/delete/{{ post.id }}" >Delete </a>
    </button>
    

</body>
</html>